/* Shout-out to w3schools: https://www.w3schools.com/css/css_tooltip.asp */
.shinyreforms-tooltip {
    position: relative;
    display: inline-block;
}

.shinyreforms-tooltip .shinyreforms-tooltip-text {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    font-weight: normal;

    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 2px;

    position: absolute;
    z-index: 1;

    margin-left: 5px;

    width: 250px;
}

.shinyreforms-tooltip:hover .shinyreforms-tooltip-text {
    display: inline-block;
    visibility: visible;
    opacity: 0.75;
}